body{
    margin: 0px;
}

.header {
    display : ruby-text;
    background-color: black;
}

.header h1{
    color: white;
}

.header ul {
    
}

.header ul li {
    display: inline-block;
    margin: 30px;
}

.header ul li a{
    text-decoration: none;
    color: white;
}